extends layout

block content
  header.w3-container.w3-teal
    h3 Listagem de teses
  .w3-container
    table.w3-table-all
      tr
        th Ficheiro
        th Descrição
      each ficheiro in lista
        tr
          td=ficheiro.nome
          td=ficheiro.desc
  footer.w3-container.w3-teal
        adress Criado por Ezequiel Moreira

