extends layout

block content
  header.w3-container.w3-teal
    h3 Listagem de teses
  .w3-container
    table.w3-table-all
      tr
        th Ficheiro
        th Descrição
      each ficheiro in lista
        tr
          td
            a(href='file:///home/iamtruth/mestrado/processamento\ e\ representacao\ de\ informacao/aula7/TPC7/servidor/data/uploaded/' + ficheiro.nome)= ficheiro.nome          
          td=ficheiro.desc
  footer.w3-container.w3-teal
        adress Criado por Ezequiel Moreira

